.me-auto {
  margin-right: 70px !important;
}

// .form-control {
//   width: 350% !important;
// }

.container {
  margin-top: 5%;
}
/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
  height: auto;
  max-height: 320px; /* Increase / Decrease value as per your need */
  overflow-x: hidden;
}

.searchwidth {
  width: 800px;
}

.signin {
  padding-left: 40px;
}

.navbar {
  height: 80px;
}

.returnsorders {
  padding-left: 10px;
}

.btn-outline-secondary {
  color: white;
}
